nav {
    background-color: $primary-light;
    ul {
        display: flex;
        list-style: none;
        padding: 10px;
        

        li {
            display: flex;
            align-items: center;
            padding: 5px 6px;
            a {
                color: white;
                letter-spacing: 1px;
            }
        }

        #nav-cart-li {
            margin-left: auto;
        }
    }
}