@import '../sass/';

.products-list-container {
    padding: 10px 30px;
}

.store-product-card {
    @include shadow;

    &:hover {
        cursor: pointer;
    }
    
    display: flex;
    align-items: flex-start;
    border: 1px solid $light-grey;
    border-radius: 8px;
    margin-bottom: 10px;
    color: $text-grey;

    .product-wrapper-img {
        border-right: 1px solid $light-grey;
        box-sizing: border-box;
        padding: 15px;
        width: 130px;

        .product-img {
            border-radius: 5px;
            width: 100%;
        }
    }

    .product-wrapper-text {
        width: calc(100% - 130px);
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
        
        .product-text-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 6px;
        }
    }
}
