@import '../sass';

.nav-container-outer {
    display: flex;
    padding: 10px;
    margin: 5px;
}

.nav-link-outer {
    padding: 3px 8px;
    
    a {
        width: 100%;
        text-decoration: none;
        color: #222;
    }
}
